<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span style="font-size:16px; padding-left:5px">Workouts</span>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a href="/workouts"><label>Workouts</label></a></li>
						<li role="presentation"><a href="/exercises"><label>Exercises</label></a></li>
					</ul>
					<div style="margin-top:5px;">
						<div class="container-fluid" style="border:1px solid red;">
							<div class="row" style="border:1px solid blue;">
								<div id="exerciseList" style="border:1px solid red;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<ul>
										<li><a>Workout 1</a></li>
										<li><a>Workout 2</a></li>
										<li><a>Workout 3</a></li>
										<li><a>Workout 4</a></li>
									</ul>
								</div>
								<div id="mainDisplay" style="border:1px solid red" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
									<p>This is the mainDisplay</p>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>